.todo_form_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.todo_form_title {
  margin-top: 1rem !important;
  color: white;
  font-size: 30px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.todo_form_actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem !important;
  margin-bottom: 1rem;
}

.todo_form_sucess_btn {
  background-color: #125c42 !important;
}

.todo_form_input {
  width: 90% !important;
}

.todo_form_input_date {
  width: 30% !important;
   margin-top: 1rem !important;
  color: rgb(9, 9, 9);
  font-size: 15px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
   gap: 1rem;
  margin-bottom: 1rem;
}

.todo_form_input_date_tittle {
  color: #ffffffb3;
  font-size: 18px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
   gap: 1rem;
  
}